<h1>Frequently Asked Questions</h1>
<br/>
<h2>How many characters to an abstract?</h2>
<p>1650, including white space.</p>
<br/>
<h2>Does the character limit include white space?</h2>
<p>Yes</p>
<br/>
<h2>How do I insert special characters?</h2>
<p>Just type the code for the character.  The code counts against your character count too.  We increased the character limit from 1600 to 1650 to compensate for the white space and special characters.</p>
<h3>An example for inserting a special character.</h3>
<p>This is the code for &#916;&ndash;&amp;#916;.  Codes always start with &amp;# and end with a semicolon.  The three digits in the middle dictate the special character.  You may find more codes <a href="http://htmlhelp.com/reference/html40/entities/symbols.html">here</a>.
</p>