article#page, footer {
  @extend .row;
}

footer {
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

div#user_block {
  margin-bottom: 20px;
  div {
    @extend .row;
  }
  nav, p {
    a {
      display: inline-block;
      padding: 5px 0px 5px 0px;
    }
  }
  p {
    text-align: right;
  }
  nav {
    @extend .column;
    @extend .grid_6;
  }
}

header#main_header {
  margin-bottom: 20px;
  padding-bottom: 10px;
}

ol#conferences {
  margin: 0px;
  padding: 0px;
  li.accepting_submissions {
    margin-bottom: 20px;
  }
}

section#submissions, form#new_submission, div#abstract_body {
  @extend .column;
  @extend .grid_8;
}

section#submissions {
  ul {
    margin-left: -40px;
  }
}

aside {
  @extend .column;
  @extend .grid_4;
  a {
    display: block;
  }
  a.standard {
    display: inline;
  }
}

form#new_submission {
  fieldset {
    margin-bottom: 20px;
  }
  fieldset#author_info {
    dt, dd {
      @extend .column;
      margin-top: 10px;
    }
    dt {
      @extend .grid_2;
      margin-left: -50px;
      text-align: right;
    }
    dd {
      @extend .grid_6;
      input {
        width: 450px;
      }
    }
  }
  
  fieldset#abstract_info {
    dl {
      @extend .column;
    }
    dt, dd {
      margin: 0px;
    }
    dt {
      margin-top: 10px;
    }
    input, textarea {
      width: 550px;
    }
    input.image {
      margin: 10px 0px 0px 10px;
    }
  }
  input#submission_submit {
    margin-left: 20px;
  }
}

a.abstract_link {
  @extend .grid_5;
  display: block;
  margin-top: 5px;
  text-align: center;
}

ul#grouped_submissions {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li.conference {
    padding-bottom: 30px;
    @extend .row;
    hgroup {
      @extend .column;
      @extend .grid_4;
    }
    ul {
      @extend .column;
      @extend .grid_7;
      list-style: none;
    }
  }
}

div#abstract_body {
  p {
    margin-bottom: 10px;
  }
  p#authors {
    margin-bottom: 10px;
  }
  p#institutions {
    margin-bottom: 20px;
  }

}