body {
  color: #333;
  font-size: 14px;
  font-family: Helvetica, arial, sans-serif;
  line-height: 24px;
}

a {
  color: #333;
}

a:hover {
  background-color: #c5c5c5;
}

div#user_block {
  background-color: #000;
  color: #e5e5e5;
  a {
    color: #e5e5e5;
  }
  a:hover {
    background-color: #656565;
  }
}

header#main_header {
  border-bottom: 1px solid #c5c5c5;
  hgroup {
    h1 {
      margin-bottom: 15px;
    }
    h2 {
      color: #8c8c8c;
      a {
        color: #8c8c8c;
      }
    }
  }
}

footer {
  border-top: 1px solid #c5c5c5;
}

li.accepting_submissions {
  h1 {
    font-size: 2em;
  }
  p {
    color: #8c8c8c;
  }
  p.year {
    font-size: 1.5em;
  }
  p.submission_deadline {
    color: #333;
    font-size: 1.75em;
  }
}

li.conference {
  hgroup {
    h2 {
      color: #8c8c8c;
    }
  }
}

a.pdf_link, a.submit_abstract_link, a.abstract_link {
  background-color: #2f6d7a;
  border-radius: 10px;
  -moz-border-radius: 10px;
  color: #f2efbd;
  font-size: 1.5em;
}

a.pdf_link, a.submit_abstract_link {
  padding: 5px 0px 5px 0px;
  text-align: center;
}

a.pdf_link:hover, a.submit_abstract_link:hover, a.abstract_link:hover {
  background-color: #70a99a;
}