<section>
  <header>
    <h1>Form Constraints</h1>
  </header>
  <ul>
    <li>Author names, institutions, and Abstract title cannot exceed 255 characters.</li>
    <li>Abstract body cannot exceed 1650 characters.</li>
    <li>Images are not resized.  Please check the pdf of your submission to verify the abstract looks appropriate.  Ill proportioned images will be removed from submissions.</li>
  </ul>
</section>

<section>
  <header>
    <h1>Special Characters</h1>
  </header>
  <p>The form uses <a href="http://redcloth.org" class="standard">Redcloth</a> to allow html formatting inside your submission.  As a result, you may use HTML codes for inputing symbols.  A list of html codes may be found <a href="http://htmlhelp.com/reference/html40/entities/symbols.html" class="standard"> here</a>.</p>

</section>