<% content_for :header do %>
  <h1>All Submissions</h1>
<% end %>

<ul>
  <% @grouped_submissions.each do |conference, submissions| %>
    <li>
      <hgroup>
        <h1><%= conference.name %></h1>
        <h2>
          <%= conference.start_date.strftime("%b %d, %Y") %> &mdash; <%= conference.end_date.strftime("%b %d, %Y") %>
        </h2>
      </hgroup>
      <ul>
        <% for submission in submissions %>
          <li><%= link_to submission.title, submission %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>