<% content_for :header do %>
  <h1>
    New Submission
    
    <% unless params[:conference].blank? %>
      for <%= Conference.find(params[:conference]).name %>
    <% end %>
  </h1>
<% end %>

<%= render 'form' %>

<% content_for :sidebar do %>
  <%= render 'redcloth_help' %>
<% end %>